/* Feuille de styles CSS */
table{
    border: 3px solid black;
    border-collapse: collapse;

}
hr{
    border-top: 1px solid black;
}

body{
    margin: auto;
    width: 600px;
    background-color: white;
    padding: 36px;
    font-family: sans-serif;
    text-align: justify;
}
html{
    background-color: #eeee;
}
span{
    color:#007bff;
    font-style: italic;
    
}
a{
    color: #007bff;
    font-weight: bold;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;

}
ul{
    text-align: right;
    font-size: 12px;
}
td,th{
    border: 1px solid black;
    text-align: center;
    padding: 5px;
}